

html {
        background: url(cloudbackground.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.logo
{
margin:20px 0px 0px 100px;
}

ul
{
	list-style-type:none;
	position:relative;
	left:360px;
	margin:0px 20px 40px 0px;
	padding:0;
	overflow:hidden;
}
	
li
{
	float:left;
}
	
a:link,a:visited
{
	display:block;
	width:160px;
	font-family:"arial";
	font-weight:bold;
	color:#FFFFFF;
	background-color:#888888;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

a:hover,a:active
{
	background-color:#cccccc;
}

h1
{
	font-family:"arial black";
	text-align:center;
}

.advert
{
	position:relative;
	left:200px;
	top:20px;
	margin:0px 50px 20px 0px;
}

.social
{
	position:relative;
	left:200px;
	top:20px;
	margin:20px 50px 20px 200px;
}

.slideshow
{
	float:right;
	Margin:20px 280px 0px 0px
}